In [1]:
import pandas as pd
import utils
import os

os.chdir('data/london_data/')

In [2]:
temp = os.listdir()
print(temp[:10])

['MAC002073.csv', 'MAC004402.csv', 'MAC000664.csv', 'MAC000102.csv', 'MAC004364.csv', 'MAC002715.csv', 'MAC004370.csv', 'MAC002701.csv', 'MAC001208.csv', 'MAC000116.csv']

In [3]:
data = pd.read_csv('MAC000002.csv')

In [4]:
data

           LCLid stdorToU                     DateTime KWH/hh (per half hour)
0      MAC000002      Std  2012-10-12 00:30:00.0000000                      0
1      MAC000002      Std  2012-10-12 01:00:00.0000000                      0
2      MAC000002      Std  2012-10-12 01:30:00.0000000                      0
3      MAC000002      Std  2012-10-12 02:00:00.0000000                      0
4      MAC000002      Std  2012-10-12 02:30:00.0000000                      0
...          ...      ...                          ...                     ...
24153  MAC000002      Std  2014-02-27 22:30:00.0000000                   1.35
24154  MAC000002      Std  2014-02-27 23:00:00.0000000                  1.247
24155  MAC000002      Std  2014-02-27 23:30:00.0000000              1.2180001
24156  MAC000002      Std  2014-02-28 00:00:00.0000000                  1.387
24157  MAC000002      Std  2014-02-28 00:00:00.0000000                  1.387

[24158 rows x 4 columns]

In [5]:
df = utils.clean_df(data)
df

24192
52

                  DateTime          KWh
0      2012-10-12 00:30:00           0
1      2012-10-12 01:00:00           0
2      2012-10-12 01:30:00           0
3      2012-10-12 02:00:00           0
4      2012-10-12 02:30:00           0
...                    ...          ...
24136  2014-02-27 22:00:00       0.416
24137  2014-02-27 22:30:00        1.35
24138  2014-02-27 23:00:00       1.247
24139  2014-02-27 23:30:00   1.2180001
24140  2014-02-28 00:00:00       1.387

[24193 rows x 2 columns]

In [6]:
print(len(df))

24193