In [25]:
import pandas as pd
import numpy as np
import random
import utils
import os

In [22]:
seed = 123
mean, var = 56.18-1, 61490.90
log_mu, log_sigma = utils.lognorm_params(mean, var)
rand_p, clus_p = 0.002, 0.008/(mean+1)

In [41]:
df = pd.read_csv('./data/london_data/MAC000018.csv')

In [42]:
df.columns, len(df)

(Index(['DateTime', 'KWh'], dtype='object'), 39055)

In [43]:
idx_to_nan = []
# Creating clusters of missing datapoints
num_clus = int(len(df) * clus_p) + random.randint(-int(len(df) * clus_p * 0.1), int(len(df) * clus_p * 0.1))
for j in range(num_clus):
    length = int(np.ceil(random.lognormvariate(mu = log_mu, sigma = log_sigma))+1)
    while True:
        conflict = False
        idx_sample = random.randint(0, len(df) - length)
        for idx in range(idx_sample, idx_sample + length):
            if idx in idx_to_nan or idx-1 in idx_to_nan or idx+1 in idx_to_nan:
                conflict = True
                break
        if not conflict:
            for idx in range(idx_sample, idx_sample + length):
                idx_to_nan.append(idx)
            break

# Creating random missing datapoints
num_rand = int(len(df) * rand_p) + random.randint(-int(len(df) * rand_p * 0.1), int(len(df) * rand_p * 0.1))
for j in range(num_rand):
    while True:
        idx = random.randint(0, len(df) - length)
        if idx in idx_to_nan or idx-1 in idx_to_nan or idx+1 in idx_to_nan:
            continue
        idx_to_nan.append(idx)
        break

In [44]:
for idx in idx_to_nan:
    df.iloc[idx, [1]] = [np.nan]

In [37]:
df

                  DateTime      KWh
0      2011-12-07 09:30:00   0.303
1      2011-12-07 10:00:00     0.2
2      2011-12-07 10:30:00   0.218
3      2011-12-07 11:00:00   0.209
4      2011-12-07 11:30:00    0.21
...                    ...      ...
39050  2014-02-27 22:00:00   0.376
39051  2014-02-27 22:30:00   0.379
39052  2014-02-27 23:00:00   0.382
39053  2014-02-27 23:30:00   0.383
39054  2014-02-28 00:00:00    0.38

[39055 rows x 2 columns]

In [46]:
df.isnull().values.sum()

571